.Rproj.user
.Rhistory
.RData
.Ruserdata

.vscode
.Rbuildignore

.DS_Store
*_cache/

*.sublime-project

~$*
images/management/analysis_pipeline.pptx
images/management/analysis_pipeline.pdf
*.xls
*.html
*.docx
/_site/
*_files/
/.quarto/
/_book/
/_extensions/
/_freeze/

*.blg
*.log
*.toc
*.aux
*.tex
*.pdf
*.idx
*.ild
*.ind
*.lock
*.ipynb

/src/.jupyter_cache

/.quarto/
